<!DOCTYPE html>
<html>
  <head>
    <title>Check User</title>

      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

      <!--Bootsrap 4 CDN-->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        
      <!--Fontawesome CDN-->
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

      <!--Custom styles-->
      <link rel="stylesheet" type="text/css"  href="{{url_for('static', filename='css/comment.css')}}">
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>
    
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="{{ url_for('choice') }}">
          <img src="{{url_for('static', filename='logo_front_page.png')}}" height="30">
        </a>
        <button class="navbar-toggler btn btn-light" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            <li><a class="nav-item nav-link" href="{{ url_for('viewcomment') }}">Check Comment</a></li>
            <li><a class="nav-item nav-link" href="{{ url_for('viewuser') }}">Check User</a></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{session['name']}}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{ url_for('changepassword') }}"><div class="text-dark">Change Password</div></a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ url_for('logout') }}"><div class="text-danger">Log Out</div></a>
              </div>
            </li>
          </div>
        </div>
      </nav>
      <div class="d-flex justify-content-center h-100">
        <div class="card">
          <div class="card-body">
            {% if error %}
            <div class="alert alert-danger">
              <center>{{error}}</center>
            </div>
            {% endif %}
            {% if success %}
            <div class="alert alert-success">
              <center>{{success}}</center>
            </div>
            {% endif %}
            <form class="form-checkuser" action="/checkuser/{{ username }}/" method="POST">
              <div class="form-group">
                <div class="input-group">
                  <input type="text" class="form-control" name="username" placeholder="enter username or profile link" aria-label="enter username or profile link" required>
                  <div class="input-group-append">
                    <input type="submit" value="Search User" class="btn float-left btn-warning">
                  </div>
                </div>
                {% if no_moderation %}
                <div class="text-danger d-flex justify-content-center">
                  <label><br><b><i>{{username}}</i></b> has no previous moderation history.</label>
                </div>
                {% endif %}
                {% if user_data %}
                <div class="text-white table-responsive">
                  <br>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th><div class="d-flex justify-content-center">Action Date</div></th>
                        <th><div class="d-flex justify-content-center">Reason</div></th>
                        <th><div class="d-flex justify-content-center">Permanent Ban</div></th>
                        <th><div class="d-flex justify-content-center">Moderator</div></th>
                        <th><div class="d-flex justify-content-center">Remove</div></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for user in user_data %}
                      <tr>
                        <td><div class="d-flex justify-content-center">{{user['log_date']}}</div></td>
                        <td><div class="d-flex justify-content-center">{{user['reason']}}</div></td>
                        {% if user['permaban'] %}
                          <td><div class="text-danger d-flex justify-content-center"><b>Yes</b></div></td>
                        {% endif %}
                        {% if user['permaban'] == 0 %}
                          <td><div class="d-flex justify-content-center">No</div></td>
                        {% endif %}
                        <td><div class="d-flex justify-content-center">{{user['moderator']}}</div></td>
                        <td><div class="d-flex justify-content-center"><a  class="text-danger" href="{{ url_for('deleteuser', username=username, id=user['id']) }}"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16"><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/></svg></a></div></td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                {% endif %}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>